<h1>This is the Battle Analysis Page</h1>

<%= form_tag do %>

<%= label_tag :user %>
<%= collection_select :post, :user_id, User.all, :id, :email %>

<%= submit_tag("Inspect")  %>

<% end %>

<% if @current_user != nil %>
  <h4>This user's name is <%= @current_user.name %> </h4> <br>
  <h4>This user's email is <%= @current_user.email %> </h4> <br>
  <h4>This user's role is <%= @current_user.role %> </h4> <br>
  <% @current_user.battles.each do |battle|  %>
    <ol>
      <li> This user had a battle between <%= battle.pokemon_1 %> and <%= battle.pokemon_2 %> <br>
        The winner was <%= battle.winner %>
      </li>
    </ol>
  <% end  %>
<% end  %>
