<h1>This is the Battle Analysis Page</h1>

<%= form_tag do %>

<%= label_tag :user %>
<%= collection_select :post, :user_id, User.all, :id, :email %>

<%= submit_tag("Inspect")  %>

<% end %>

<% if @current_user != nil %>
  <h3>This user's name is <%= @current_user.name %> </h3> <br>
  <h3>This user's email is <%= @current_user.email %> </h3> <br>
  <h3>This user's role is <%= @current_user.role %> </h3> <br>
<% end  %>
