<h1>This is the Pokenalysis Battle Page</h1>

<%= form_tag do %>

<%= label_tag :pokemon_1 %>
<%= collection_select :post, :pokemon_1_id, Pokemon.all, :id, :name %>

<%= label_tag :pokemon_2 %>
<%= collection_select :post, :pokemon_2_id, Pokemon.all, :id, :name %>

<%= submit_tag("Battle") %>

<% end %>
