<!DOCTYPE html>
<html>
  <head>
    <title>Pokenalysis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
    <br>
    <% if current_user %>
    Welcome, <%= current_user.name %>
    <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>

    <% end %><br>

    <%= link_to "Home Page", root_path %>
  </body>
</html>
